.modal {
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  justify-content: center;
  align-items: center;
  z-index: 200;
}

/* Contenedor del contenido del modal */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Botón para cerrar el modal */
.close {
  cursor: pointer;
  align-self: flex-start;
}

.hederLogin {
  display: flex;
}

p {
  font-size: medium;
  color: black;
}
